.nav-container {
  width: 100%;
  height: 40px;
  background-color: #23987E;
}

.nav-container ul {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  list-style: none;
}

.nav-container li {
  font-size: 20px;
}

.nav-container a {
  color: white;
}